<mat-toolbar color="primary">
  <span><a routerLink="/">MyMessages</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="create" routerLinkActive="mat-accent"
        >new post</a>
    </li>
    <li  *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="login" routerLinkActive="mat-accent">login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="signup" routerLinkActive="mat-accent">signup</a>
    </li>
    <li *ngIf="userIsAuthenticated"><a mat-button>logout</a></li>
  </ul>
</mat-toolbar>
